.navbar-collapse {
  flex-grow: 0 !important;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 11.5rem !important;
}
.bg_header {
  background-color: black;
}
.fixed_header {
  position: sticky !important;
  top: 0px !important;
}
/* Media queries start */
@media screen and (min-width: 150px) and (max-width: 576px) {
  .container-fluid {
    --bs-gutter-x: 1.5rem !important;
  }
}

@media screen and (min-width: 300px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 8px;
    margin-right: 8px;
  }
}
/* Media queries end */
